.cards-info > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards-info > ul > li {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cards-info .cards-info-card-body {
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cards-info .cards-info-card-body > p {
  background-color: #f5f5f5;
  padding: 16px;
  height: 266px;
  overflow: auto;
  margin: 0;
}

.cards-info .cards-info-card-body strong,
.cards-info .cards-info-card-image strong {
  color: rgb(0, 82, 136);
  font-size: 24px;
  font-weight: 700;
  display: block;
  line-height: normal;
  margin-top: 16px;
  padding: 0;
}

.cards-info .cards-info-card-body strong a {
  color: rgb(0, 82, 136);
  text-decoration: none;
}

.cards-info .cards-info-card-body a:not(strong a) {
  color: rgb(0, 82, 136);
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  padding: 0;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  padding-left: 20px;
}

.cards-info .cards-info-card-body a:not(strong a)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23005288'%3E%3Cpath d='M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.cards-info .cards-info-card-image {
  line-height: 0;
  text-align: center;
}

.cards-info > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
